@media screen and (max-width:1199px){
  .companyNavbar{
        padding: 10px 30px;
      }
      .welcomeBanner{
        padding: 40px 60px;
      }
      .partners{
        padding: 40px 60px;
      }
       .partnerImgs ul{
        flex-wrap: wrap;
        /* display: block; */
      }
      .description{
        padding: 40px 60px;
      }
      .profile{
        padding: 40px 70px;
        gap:60px;
      }
      .profileCards{
        flex-wrap: wrap;
      }
      .welcomeImg img{
        max-width: 100%;
        height: auto;
      }
      .descImg1 img,.descImg2 img{
        max-width: 100%;
        height: auto;
      }
}

@media screen and (max-width:991px){
      .companyNavbar{
        padding: 10px 20px;
      }
      .welcomeBanner{
        padding: 30px 20px;
      }
      .partners{
        padding: 30px 20px;
      }
      .profile{
        padding: 30px 30px;
      }
       .partnerImgs ul{
        flex-wrap: wrap;
        display: flex;
        gap: 30px;
        justify-content: center;
        /* display: block; */
      }

      /* services  */
      .pricing{
        /* display: block; */
        padding: 20px 10px;
        gap: 20px;
      }
      .welcomeImg img{
        max-width: 100%;
        height: auto;
      }
      .descImg1 img,.descImg2 img{
        max-width: 100%;
        height: auto;
      }
      .profileCards{
        gap:20px; 
      }
      .description{
        padding: 40px 40px;
      }
      .descriptionBanner{
        padding: 20px 0px;
      }
      
}

@media screen and (max-width:767px){
      .companyNavbar{
        padding: 10px 30px;
      }
      .hamburger{
        display: flex;
      }
      .navbar{
        display: none;
      }
      .welcomeBanner{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
        /* flex-wrap: wrap; */
      }

      .welcomeContent h2,.descContent h2,.partnersContent h2{
        font-size: 28px;
      }
      .welcomeImg{
        flex-wrap: wrap;
      }
      .welcomeImg img{
        max-width: 100%;
        height: auto; 
      }
      
      .descImg1 img,.descImg2 img{
        max-width: 100%;
        height: auto;
      }
      .partnerImgs ul{
        flex-wrap: wrap;
        display: block;
      }
      .partnerImgs ul li{
        /* gap:300px; */
        padding: 20px 0px;
      }
      
      .descriptionBanner{
        flex-wrap: wrap;
        gap:30px;
        margin-bottom: 40px;
      }
      .description{
        padding: 20px 20px;
      }
      .profile{
        padding: 30px 0px;
        /* display: block; */
      }
      .profileCards{
        gap:40px;
        /* display: block; */
      }
      .services{
        padding: 20px 20px;
        gap:20px;
      }
      .pricing{
        flex-wrap: wrap;
        gap:40px;
      }
      .ticks{
        text-align: center;
      }
      .socialMedia {
        display: block;
      }

      .socialIcon ul{
        justify-content: center;
      }
      .copyRight{
        text-align: center;
      }
    }