*{
    margin: 0;
    padding: 0;
    
}

.container{
    width: 1200px;
    margin: 0 auto;
    border: 2px solid rgba(108, 0, 255, 1);
}

.navbarLinks{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin: auto;
    
}

.navbarLinks ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:55px;
    color: white;
    font-size: 16px;
    list-style-type: none;

}
.navbarLinks a{
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 10px 12px 10px 12px;
}

.navbarLinks a:hover{
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
}

.banner{
    display: flex;
    background: url('/Assignment3/images/banner.svg');
    justify-content: center;
    align-items: center;
    margin: -80px;
    background-size:cover;
    height: 100vh;
    
    
}

.bannerHeading{
    text-align: center;
    color: white;
    font-size: 72px;
    font-weight: 700px;
    /* margin: -30px; */
    
}
.bannerContent{
    color: white;
    text-align: center;

}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.watchIntro{
    text-align: center;
    background: rgba(108, 0, 255, 1);
    /* margin-top: 20px; */
    border-radius: 40px;
    padding: 16px 32px;
    align-items: center;

}
/* .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 60px;
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
} */

.heroSection{
    margin-bottom: 100px;
}
.serviceContents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}


.imagWrapper{
    background: rgba(108, 0, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(108, 0, 255, 1);
}
.services{
    color: rgb(7, 7, 7);
    display: flex;
    /* background-color: black; */
    align-items: center;
}

.servicesAll{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}   
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}